#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

#chat {
    width: 630px;
    color: black;
    resize: none;
}

span {
    background: #fff;
    border: 2px dotted black;
    padding: 4px;
    margin: 0 5px;
    font-size: 16px;
    font-family: "Arial";
}

span:hover {
    cursor: move;
    cursor: url(images/grab.cur);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

span.grabbed {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    border: 2px solid black;
}

input {
    border:1px solid #000;
    background:#fff;
    padding:2px;
    font-size:16px;
    width: 630px;
}

input.highlight {
    background: #ffa;
}

#actions {
    padding: 10px;
    background: white;
    color: black;
}

#actions.highlight {
    background: lightblue;
}
