body {
    font-family: sans-serif;
    background: #efefff;
    background-image: linear-gradient( 45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%), linear-gradient( 45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%);
    background-size: 120px 120px;
    background-position: 0 0, 30px 30px;
    animation: slide-rev 4s infinite linear;

    width: 1200px;
    margin: auto;
}

@keyframes slide-rev {
    from {
        background-position: 0 0, -60px -60px;
    }
    to {
        background-position: 0 0, 60px 60px;
    }
}

input {
    border-radius: 5px;
}

button {
    border-radius: 10px;
}

.app-header {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 1px 1px #cfcfff, 4px 4px #afafff, -3px -3px #9f9fff;
}
