<html>
    <head>
        <title>Draggy Drop</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/chat.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/dragdrop.js" charset="utf-8"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link href="/static/css/chat.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Draggy Drop (channel: {{ room }})</h1>
        <a href="#" onclick="leaveRoom();">Leave Chat</a><br><br>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <!--<div id="chat-input" class="ui-widget-header">-->
            <!--<p>Place your thoughtful messages here</p>-->
        <!--</div>-->
        <input id="chat-input" size="80" placeholder="Place your thoughtful messages here"><br><br>
        <div id="chat-options"></div>
    </body>
</html>
